  body {
      font-family: Verdana, sans-serif;
      margin: 0;
      color: black;
  }

  h1 {
      font-family: font2;
      color: black;
  }

  h2,
  p {
      color: black;
      font-family: font2;
  }

  label {
      color: black;
      font-family: font2;
  }

  .contact-container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;


  }

  .form-group {
      margin-bottom: 15px;
  }

  .form-group label {
      display: block;
      margin-bottom: 5px;
  }

  .form-group input,
  .form-group textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid black;
      border-radius: 15px;
      background-color: transparent;
  }

  .form-group textarea {
      height: 150px;
  }

  .button {
      background-color: orange;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-family: font2;
      color: black;
  }

  .button:hover {
      background-color: white;
      color: orange;
  }

  .contact-info {
      margin-top: 30px;
  }

  .contact-info h2 {
      margin-bottom: 15px;
  }

  .contact-info p {
      margin-bottom: 10px;
  }